<div class="jumbotron jumbotron-fluid contact-us-form">
  <div class="container">
    <div class="row">
      <form class="col-12 col-sm-12 col-md-9 col-lg-6 mt-4 mb-4 pt-2 pb-2">
        <h2 class="mt-2">Kontakta oss!</h2>
        <div class="form-group row">
          <div class="col-12">
            <input type="text" class="form-control" id="inputText3" placeholder="Förnamn">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="text" class="form-control" id="inputText3" placeholder="Efternamn">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="tel" class="form-control" id="inputText3" placeholder="Mobiltelefon">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Epost">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-7 col-md-9">
            <input type="text" class="form-control adress-margin" id="inputText3" placeholder="Adress">
          </div>
          <div class="col-5 col-md-3">
            <input type="text" class="form-control" id="inputText3" placeholder="Postnr">
          </div>
        </div>

      <div class="form-group row">
        <div class="col-3">
          <button type="submit" class="btn btn-primary contact-us-button">Skicka</button>
        </div>
      </div>
    </form>
  </div>
</div>
