<div class="container-fluid sorting-controls mt-4">
	<div class="row">
		<div *ngFor="let type of localMem.sortingTypes" class="col-6 col-md-3 text-center">
			<a (click)="toggleOption(type)">
				{{type.name}}
					<i *ngIf="this.localMem.selectedType.name === type.name" 
						 [ngClass]="{'fa-sort-asc': this.localMem.selectedSortUp, 
						 						 'fa-sort-desc': !this.localMem.selectedSortUp}" 
						 class="fa ml-2" aria-hidden="true">
					</i>
			</a>
		</div>
	</div>
</div>
<div class="container-fluid card-container mt-1">
	<div *ngIf="salesObjects.length === 0">
		<div class="row mt-4">
			<div class="col-12">
				<h5 class="text-center">Tyvärr hittades inga sökresultat <i class="fa fa-frown-o" aria-hidden="true"></i></h5>
			</div>
		</div>
	</div>
	<a *ngFor="let salesObject of salesObjects | orderBy: localMem.selectedOption ; let i = index" [routerLink]="['/detail', salesObject._id]">
		<div class="row">
			<div class="col-12">
				<div class="card mb-4 rounded-0">
					<div class="row no-gutters">
						<div class="col-sm-12 col-md-6 img-object-small" [style.background-image]="getSalesObjectImg(salesObject,0)">
					  </div>
						<div class="hidden-sm-down col-md-6 img-object-small" [style.background-image]="getSalesObjectImg(salesObject,1)">
					  </div>
				  </div>
				  <div class="card-block">
	    			<p class="card-text">
	    				<small class="text-muted text-uppercase">{{salesObject.type}}</small>
	    			</p>
			    	<div class="row">
			    		<div class="col-sm-7">
                <h4 class="card-title city">{{salesObject.place.city}}<small class="text-muted">, {{salesObject.place.municipality}}</small></h4>
			    			<p class="card-text">{{salesObject.place.adress}}</p>
			    			<p class="last-element text-muted">{{salesObject.text.shortInfo}}</p>
			    		</div>
			    		<div class="col-sm-5">
                <table class="table table-sm">
                  <tbody>
                    <tr class="table-info"><td class="text-muted">Pris:</td><td class="font-weight-bold">{{numberWithSpaces(salesObject.price)}} kr</td></tr>
                    <tr><td class="text-muted">Månatlig kostnad:</td><td class="font-weight-bold">{{numberWithSpaces(salesObject.priceMonth)}} kr</td></tr>
                    <tr><td class="text-muted">Antal rum:</td><td class="font-weight-bold">{{salesObject.rooms}} st</td></tr>
                    <tr><td class="text-muted">Boarea:</td><td class="font-weight-bold">
                    {{salesObject.area}} m&#178;</td></tr>
                    <tr><td class="text-muted">Byggd:</td><td class="font-weight-bold">{{salesObject.buildDate}}</td></tr>
                  </tbody>
                </table>
			    		</div>
		    		</div>
				  </div>
				</div>
			</div>
		</div>
	</a>
</div>