<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>Ansvarig mäklare</h4>
    </div>
  </div>
  <div class="row" *ngIf="brokersObject">
    <div class="col-sm-6 col-12 contact-img mx-auto d-block"><img src="{{brokersObject.profile_image_src}}"></div>
    <div class="col-sm-6 col-12">
      <br>
      <div>
        <strong class="mt-3">Namn: </strong> 
        <p class="text-margin">{{brokersObject.firstName}} {{brokersObject.lastName}}</p><br/>
        <strong class="mt-3">Telefon: </strong>
        <p class="text-margin">{{brokersObject.contact.phone}}</p><br/>
        <strong class="mt-3">Epost: </strong>
        <p class="text-margin">{{brokersObject.contact.mail}}</p><br/>
        <strong class="mt-3">About: </strong> 
        <p class="text-margin">{{brokersObject.contact.personDesc}}</p>
      </div>
    </div>
  </div>
</div>
