<div class="sales-object-header">  
  <div class="row">
    <div class="col-12">
      <ngb-tabset>
        <ngb-tab title="Översikt">
          <template ngbTabContent>
            <sales-object-summary></sales-object-summary>
          </template>
        </ngb-tab>
        <ngb-tab title="Fakta">
          <template ngbTabContent>
            <information></information>
          </template>
        </ngb-tab>
        <ngb-tab title="Bilder">
          <template ngbTabContent>
            <sales-object-images></sales-object-images>
          </template>
        </ngb-tab>
        <ngb-tab title="Planritning">
          <template ngbTabContent>
            <layout></layout>
          </template>
        </ngb-tab>
        <ngb-tab title="Kontakt">
          <template ngbTabContent>
            <sales-object-contact></sales-object-contact>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

