<div class="jumbotron jumbotron-fluid sell-with-us">
	<div class="container">
		<div class="row">
			<form class="col-12 col-sm-12 col-md-9 col-lg-6 pt-4 mb-4">
				<h2>Vill du värdera din bostad?</h2>
				<p>Det är helt kostnadsfritt och du binder dig ej till försäljning.</p>
			    <div class="form-group row">
			      <div class="col-12">
			        <input type="Email" class="form-control" id="inputEmail3" placeholder="Förnamn">
			      </div>
			    </div>
			    <div class="form-group row">
			      <div class="col-12">
			        <input type="text" class="form-control" id="inputPassword3" placeholder="Efternamn">
			      </div>
			    </div>
			    <div class="form-group row">
			      <div class="col-12">
			        <input type="tel" class="form-control" id="inputPassword3" placeholder="Mobiltelefon">
			      </div>
			    </div>
			    <div class="form-group row">
			      <div class="col-12">
			        <input type="email" class="form-control" id="inputPassword3" placeholder="Epost">
			      </div>
			    </div>
			    <div class="form-group row mt-4">
			      <div class="col-7 col-md-9">
			        <input type="text" class="form-control" id="inputPassword3" placeholder="Adress">
			      </div>
			      <div class="col-5 col-md-3">
			        <input type="text" class="form-control" id="inputPassword3" placeholder="Postnr">
			      </div>
			    </div>

			    <div class="form-group row">
			    	<div class="col-9">
					    <select class="custom-select">
						  <option selected>Bostadstyp</option>
						  <option *ngFor="let type of types">{{type}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row mb-4">
					<div class="col-2">
						<button type="submit" class="btn btn-primary sell-with-us-button">Skicka</button>
					</div>
				</div>
  		</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<h2 class="col-12 col-md-7 "> Sälj din bostad med oss</h2>
		<h4 class="col-12 col-md-7"> Vi har sålt många bostäder</h4>
		<p class="col-12 col-md-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
	</div>
</div>